div{
    background-color:black;
    text-align: left;
    display: flex;
    padding: 10px;
}
#uno{
    color: white;
}
#dos{
    color: aqua;
}
h2{
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 20px;
}
h3{
    background-color: cornflowerblue;
    text-align: right;
    text-decoration: underline;
    padding: 10px;
}