h1{
    display: flex;
    justify-content: center;
}

.foto{
    height: 250px;
    width: 250px;
}
.fila1{
    height: 300px;
    margin: 10px;
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    align-items: center;
}

.fila2{
    height: ;
    margin: 10px;
    display: flex;
    background-color: palevioletred;
    justify-content: space-evenly;
}

.fila3{
    margin: 10px;
    display: flex;
    background-color: aliceblue;
    justify-content: space-around;
}

h5{
    display: flex;
    justify-content: center;
}